body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rrs__range {
  background-color: "#1ED760" !important;
}

.rrs__track {
  background-color: "#CCCCCC" !important;
}

@keyframes float {
  0% {
    box-shadow: 0 3px 11px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 20px 12px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-5px);
  }
  100% {
    box-shadow: 0 3px 11px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@import './styles/playlist.scss';
@import './styles/login.scss';
